# NAMESPACE file for grepreaper package

# Export main functions
export(grep_read)
export(build_grep_cmd)
export(check_grep_availability)
export(get_system_info)
export(is_binary_file)
export(monitor_performance)
export(safe_system_call)
export(split.columns)

# Import from data.table
importFrom(data.table, ":=")
importFrom(data.table, .N)
importFrom(data.table, as.data.table)
importFrom(data.table, data.table)
importFrom(data.table, fread)
importFrom(data.table, rbindlist)
importFrom(data.table, setcolorder)
importFrom(data.table, setnames)
importFrom(data.table, setorder)
importFrom(data.table, is.data.table)

# Import from stats
importFrom(stats, setNames)

# Import from utils
importFrom(utils, globalVariables)
importFrom(utils, shQuote)